@model BlogSpot.Web.Models.Domain.Tag

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Edit Tag</h1>
    </div>
</div>

@if (Model is null)
{
    <p>No student found</p>
}
else
{
     <div class="container py-5">
        <h4>Edit tag details</h4>
        <form method="post">
            <div class="row mb-3">
                <div class="col">
                    <label class="form-label">Id</label>
                    <input type="text" class="form-control" asp-for="Id" readonly />
                </div>
                <div class="col">
                    <label class="form-label">Name</label>
                    <input type="text" class="form-control" asp-for="Name" />
                </div>
                <div class="col">
                    <label class="form-label">Display Name</label>
                    <input type="text" class="form-control" asp-for="DisplayName" />
                </div>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-dark">Save</button>
            </div>
        </form>
    </div>
}

 
